body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 0, 24);
    color: whitesmoke;
}

.flex_center_row{
    display: flex;
    justify-content: center;
}
.flex_center_col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background_canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
}

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.column{
    width: fit-content;
    height: fit-content;
    position: relative;
}


.logo{
    max-width:  30rem;
    height: 50vh;
    justify-content: center;
}
.logo img{
    width: 100%;
    height: auto;
}

.search_div{
    width: 100%;
    height: 5rem;
    align-items: center;
}
.search_div input, .search_div button{
    all: unset;
    height: 2rem;
}
.search_div input{
    width: 70%;
    border: 2px solid whitesmoke;
    padding-left: 1rem;
}
.search_div button{
    width: 4rem;
    border: 2px solid whitesmoke;
    text-align: center;
    cursor: pointer;
}