@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 0, 24);
    color: whitesmoke;
    font-family: "Space Grotesk", serif;
}

h1{
    all: unset;
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 1rem;
}
h2{
    all: unset;
    font-size: x-large;
}
h3{
    all: unset;
    font-size: large;
    opacity: 0.5;
}
.credit{
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
    padding-bottom: 10px;
}
.credit svg{
    padding-left: 5px;
    padding-right: 5px;
}

.flex_center_row{
    display: flex;
    justify-content: center;
}
.flex_center_col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background_canvas{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
}

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.column{
    width: fit-content;
    height: 100vh;
    position: relative;
}


.logo{
    max-width:  60vh;
    height: 50vh;
    justify-content: center;
}
img{
    width: 100%;
    height: auto;
}

.search_div{
    width: 100%;
    height: 5rem;
    align-items: center;
}
.search_div input, .search_div button{
    all: unset;
    height: 3rem;
    background-color: rgb(35, 35, 35);
    animation: glow 2s ease infinite;
}
@keyframes glow{
    0%{
        box-shadow: 0 0 2px 1px blue;
    }
    50%{
        box-shadow: 0 0 7px 3px blue;
    }
    100%{
        box-shadow: 0 0 2px 1px blue;
    }
}
.search_div input{
    width: 70%;
    border: 2px solid rgb(120, 179, 226);
    padding-left: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.search_div button{
    width: 4rem;
    border: 2px solid rgb(120, 179, 226);
    border-left: none;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
button:hover, button:focus{
    background: linear-gradient(to left, rgb(35, 35, 35), blue, rgb(35, 35, 35));
}
svg{
    transition: transform 0.5s ease;
}
svg:hover, svg:focus{
    transform: rotate(45deg);
}

.main{
    width: 100%;
    min-height: 18rem;
    margin-top: 1rem;
}

.banner{
    position: relative;
    width: 90%;
    height: 8rem;
    background-color:rgb(35, 35, 35);
    border-radius: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    transition: opacity 0.3s ease;
}
.image{
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 0.5rem;
    background-color: rgb(60, 60, 60);
    border-radius: 1rem;
    overflow: hidden;
}

.description{
    width: 100%;
    height: 7rem;
    padding-left: 37%;
    justify-content: space-evenly;
    align-items: start;
}
.skeleton_name{
    background-color: rgb(60, 60, 60);
    width: 8rem;
    height:  1.5rem;
}
.skeleton_artist{
    background-color: rgb(60, 60, 60);
    width: 4rem;
    height: 1rem;
}
.highlight{
    width: 50%;
    height: inherit;
    position: absolute;
    left: 0;
    background: linear-gradient( to right, transparent, rgba(255, 255, 255, 0.354), transparent);
    z-index: 100;
    animation: move_highlight 1.5s ease-in-out infinite;
}

@keyframes move_highlight{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
.banner:hover{
    cursor: pointer;
    opacity: 0.8;
}